---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---
<Layout title="Contact - Ethmar">
    <Header /> <br><br><br>
        <div class="contact">
                    <div class="container">
                        <div class="section-header">
                        
                            <h2>اتصل بنا</h2>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="contact-info">
                                    <div class="contact-icon ml-3">
                                        <i class="fa fa-map-marker-alt"></i>
                                    </div>
                                    <div class="contact-text">
                                        <h3>العنوان</h3>
                                        <p>BARBAROS HAYRETTİN PAŞA MAH. 1995. SOK. AKROS ISTANBUL NO:1 -3 Ofis:463 <br> Istanbul\Türkiye</p>
                                    </div>
                                </div>
                                <div class="contact-info">
                                    <div class="contact-icon ml-3">
                                        <i class="fa fa-phone-alt"></i>
                                    </div>
                                    <div class="contact-text">
                                        <h3>هاتف</h3>
                                        <p dir="ltr" style="display: inline-block;">+90 555 029 43 00</p>
                                    </div>
                                </div>
                                <div class="contact-info">
                                    <div class="contact-icon ml-3">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="contact-text">
                                        <h3>البريد الإلكتروني</h3>
                                        <p>info@ethmargroupltd.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="contact-form">
                                    <div id="success"></div>
                                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                        <div class="control-group">
                                            <input type="text" class="form-control" id="name" placeholder="الاسم" required="required" data-validation-required-message="Please enter your name" />
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="control-group">
                                            <input type="email" class="form-control" id="email" placeholder="البريد الإلكتروني" required="required" data-validation-required-message="Please enter your email" />
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="control-group">
                                            <input type="text" class="form-control" id="subject" placeholder="الموضوع" required="required" data-validation-required-message="Please enter a subject" />
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div class="control-group">
                                            <textarea class="form-control" id="message" placeholder="الطلب" required="required" data-validation-required-message="Please enter your message"></textarea>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <div>
                                            <button class="btn" type="submit" id="sendMessageButton">إرسال</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <Footer />
</Layout>