---
// Carousel Component
---

    <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/img/carousel-1.jpg" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>إثمار.. بوابتكم لاستثمار عقاري آمن ومستدام في إسطنبول.</h1>
                            <p>
                                نقتنص لك الفرص الحصرية في أرقى المشاريع الإنشائية لضمان أعلى العوائد.
                            </p>
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/img/carousel-2.png" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>طريقك نحو الجنسية التركية يبدأ بخطوة عقارية مدروسة.</h1>
                            <p>
                            نقدم لك عروضاً عقارية منتقاة بعناية، مطابقة تماماً لشروط الجنسية، مع إدارة كاملة لملفك القانوني من البداية وحتى استلام الجواز.
                            </p>
                            
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/img/carousel-3.png" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>نهتم بأدق التفاصيل.. ليبقى عقارك استثماراً ينمو بلا عناء.</h1>
                            <p>
                                من التأجير إلى الصيانة، خدمات شاملة لإدارة ممتلكاتك في قلب إسطنبول.
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->
        
        
        