---
// src/layouts/Layout.astro
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>Ethmar|إثمار العقارية - تركيا</title>
    <meta name="Ethmar|إثمار العقارية - تركيا" content="Ethmar | Real Estate & Consulting in Turkey" />
    <meta name="description" content="اكتشف أفضل فرص عقارات تركيا معنا. نوفر لك شقق وفلل للبيع في اسطنبول وبخيارات متنوعة تناسب الاستثمار العقاري والجنسية التركية. تملك عقار أحلامك الآن بأمان." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ethmar-tr.com/" />
    <meta property="og:title" content="Ethmar|إثمار العقارية - تركيا" />
    <meta property="og:description" content="شريككم الموثوق للاستثمار العقاري في تركيا" />
    <meta property="og:image" content="https://ethmar-tr.com/img/share-preview.jpg" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/img/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    
<slot />

    <script is:inline src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script is:inline src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="/lib/easing/easing.min.js"></script>
    <script is:inline src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script is:inline src="/lib/waypoints/waypoints.min.js"></script>
    <script is:inline src="/lib/counterup/counterup.min.js"></script>
    <script is:inline src="/mail/jqBootstrapValidation.min.js"></script>
    <script is:inline src="/mail/contact.js"></script>
    <script is:inline src="/js/main.js"></script>
</body>
</html>